<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>400221513142-8u0psgfej5iolfbfvavjnchsreufkpdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400221513142-8u0psgfej5iolfbfvavjnchsreufkpdg</string>
	<key>API_KEY</key>
	<string>AIzaSyDYLmDTITt0qQlteltr2-5EhN3Yi_wI-0I</string>
	<key>GCM_SENDER_ID</key>
	<string>400221513142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.chidiemeh184.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-d461f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-d461f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:400221513142:ios:4efd6a9a1e1206c1</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-d461f.firebaseio.com</string>
</dict>
</plist>